.lottie{
   width: 80%;
   
}
.home{
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    margin: 20px;
}
@media only screen and (max-width: 600px) {
    .home{
        display: grid;
        grid-template-columns: 1fr;
    }
    .lottie{
   width: 100%;
    }
    .ts{
        font-size: 30px;
    }

}